body {
    background-color: rgb(30, 8, 56);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.title {
    text-align: center;
    margin-bottom: 20px;
}

.list-title{
    
    color: rgb(210, 174, 244);
    
    font-size: large;
    font-weight: bold;
    
    
   
}

.container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 75px;
    
  
}

.new-list {
    text-align: center;
    align-items: center;
    height: 80vh;
}




img {
    width: 10%;
    padding-bottom: 20px;
}

.add-control {
    margin-bottom: 15px;
}


.list {
    list-style: none;  
    padding-left: 0;
}


.item  {
    margin-right: 10px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: white;
    border-radius: 5px;
    font-size:small;
    color: black;
}

.highlight {
    background-color: rgb(185, 105, 255);
    color: white;
}

.checkBox {
    margin-right:10px ;
}

.new-list-form {
    margin-top: 20px;
}

.remove-button {
    margin-top: 30px;
    text-align: center;
}
.footer {
    /* position: fixed; */
    /* bottom: 20px; */
    margin-top: 20px;
    width: 100%;
    text-align: center;
    color: rgb(135, 131, 139);
}